@import '../styles/index.scss';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 30px 0;
  max-width: 1200px;
  margin: 0 auto;

  @include respond(wide) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 992px;
  }

  @include respond(desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1100px;
    padding: 30px 20px;
  }

  @include respond(tablet) {
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    padding: 10px 20px;
  }

  @include respond(mobile) {
    grid-template-columns: 1fr;
  }

  .addButtonBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 793px;
    font-family: 'Poppins';
    svg {
      cursor: pointer;
    }
  }
}
