@import '../styles/index.scss';
.card {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-family: 'Poppins';
  background: linear-gradient(
    167.44deg,
    #08244f 0%,
    #134cb5 47.38%,
    #0b42ab 100%
  );
  border-radius: 10px;
  padding: 10px 20px;
  color: #ffffff;
  box-sizing: border-box;

  .cardHeader {
    display: flex;
    justify-content: space-between;
    :first-child {
      text-align: justify;
    }
    :nth-child(2) {
      text-align: center;
    }
    :last-child {
      text-align: right;
      cursor: pointer;
    }
  }

  .temperature {
    font-size: 70px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
  }

  .row {
    display: flex;
    justify-content: space-around;
  }

  .imgContent {
    display: flex;
    line-height: 24px;
  }

  .detail {
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    :first-child {
      font-size: 18px;
      line-height: 18px;
    }

    :last-child {
      font-size: 18px;
      line-height: 18px;
    }
    width: 100%;
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dailyRecord {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 30px;
    :first-child {
      text-align: justify;
    }
    :last-child {
      text-align: right;
    }
  }
}
