.footer {
  height: 70px;
  font-size: 12px;
  background: linear-gradient(
    167.44deg,
    #08244f 0%,
    #134cb5 47.38%,
    #0b42ab 100%
  );
  color: #fff;
  font-family: 'Poppins';
  text-align: center;
}
