.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  input {
    padding: 0px 10px;
    background: rgb(244, 242, 242);
    border: none;
    color: #2a2828;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    width: 400px;
    height: 46px;
    box-sizing: border-box;
    &:focus-visible {
      outline: none;
    }
    ::placeholder {
      color: rgb(137, 137, 137);
      opacity: 1;
    }

    :-ms-input-placeholder {
      color: rgb(137, 137, 137);
    }

    ::-ms-input-placeholder {
      color: rgb(137, 137, 137);
    }
  }
  .autoContainer {
    position: absolute;
    top: 46px;
    width: 400px;
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid black;
    list-style: none;
    background-color: white;
    max-height: 200px;
    overflow-y: scroll;
    padding: 0;
    .odd {
      background: rgb(244, 242, 242);
    }
    .list {
      line-height: 40px;
      font-size: 18px;
      padding: 0 10px;
      display: flex;
      align-items: center;
    }
    img {
      height: 18px;
      margin-right: 10px;
    }
  }
}
